table.react-collapsible {
  font-family: Helvetica, Arial, "sans-serif";
    font-size: 62.5%;
}
table.react-collapsible thead {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  color: #555;
  line-height: 1.4rem;
  text-align: left;
}
table.react-collapsible tr {
  border-bottom: 0.1rem #e0e4ea solid;
}
table.react-collapsible td {
  padding: 1rem 1rem 1rem 0;
}
