html {
  font-size: 62.5%;
}
.react-collapsible {
  font-family: Helvetica, Arial, "sans-serif";
}
.react-collapsible thead {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #555;
  text-align: left;
  font-weight: 400;
}
.react-collapsible thead th, .react-collapsible td {
  border-bottom: 0.1rem #e0e4ea solid;
  min-width: 10rem;
  padding-bottom: 1rem;
}
.react-collapsible tr {

}
.react-collapsible td {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.4rem;
  font-weight: 200;
}
